include ../../../mixin
.modal-header(mat-dialog-title)
  .modal-title
    | {{ "passenger.upsert"|translate }}
.right.modal-body(dir="rtl", [style.width.px]="1000", [style.height.px]="435", trnAutoTranslate)
  mat-horizontal-stepper(#stepper, [linear]="true")
    mat-step([stepControl]="buyerForm", label="{{'steps'|translate:({value:'first'|translate})}}")
      form([formGroup]="buyerForm", (keydown.enter)="$event.preventDefault()")
        div(fxLayout="row", fxLayoutAlign="space-around start")
          mat-card(fxLayout="column", fxFlex)
            div
              div(fxLayout="row", fxFlex)
                +matField('nationalCode', 'person.nc', 'buyerForm')((focusout)="findPerson(natCode)", #natCode )
                +matField('mobileNumber', 'person.mobileNumber', 'buyerForm')
              div(fxLayout="row", fxFlex)
                trn-slider(fxFlex, trueText="male", falseText="female", formControlName="gender")
              div(fxLayout="row")
                +matField('name', 'person.name', 'buyerForm')
                +matField('family', 'person.family', 'buyerForm')
              div(fxLayout="row")
                +matField('englishName', 'person.englishName', 'buyerForm')
                +matField('englishFamily', 'person.englishFamily', 'buyerForm')
              div(fxLayout="row")
                +matField('birthDate', 'person.birthDate', 'buyerForm')((click)="personBirthDate.open()", [matDatepicker]="personBirthDate",readonly )
                  mat-datepicker-toggle(utc="true", matSuffix, [for]="personBirthDate",disabled="true")
                  mat-datepicker(#personBirthDate, startView="multi-year", readonly)
          mat-card.card-stretch(fxLayout="column", fxFlex="30")
            mat-form-field(fxFlex)
              input(matInput, mask="number", placeholder="tour.price", [formControl]="blockForm.form.get('basePrice')", (input)="onPriceChange()")
              mat-hint(align="end", translate) price.irFormated
            mat-form-field(fxFlex)
              input(matInput, mask="number", placeholder="infantPrice", [formControl]="blockForm.form.get('infantPrice')", (input)="onPriceChange()")
              span(matPrefix, align="end") $ 
              mat-hint(align="end", translate) price.irFormated
    mat-step(label="{{'steps'|translate:({value:'second'|translate})}}")
      form([formGroup]="blockForm.form", (keydown.enter)="$event.preventDefault()")
        div
          mat-card([stretch]="true")
            ag-grid-angular.ag-theme-material(#agGrid, style="height:280px", [columnDefs]="passengerGridService.columnDefs", [gridOptions]="passengerGridService.gridOptions", [frameworkComponents]="passengerGridService.frameworkComponents", (gridReady)="passengerGridService.onGridReady($event)", [enableRtl]="true", rowHeight="35", headerHeight="35")
            div(dir="ltr")
              button.pull-right.fab-grid(mat-fab, color="accent", (click)="teamMemberUpsert()")
                mat-icon.icon-text-color add
        mat-card
          div(fxLayout="row", layout-align="space-between center")
            label(fxFlex) {{ 'adultCountLbl'|translate }} : {{ adultCount }}
            label(fxFlex) {{ 'nonOptionCountLbl'|translate }} : {{ noneOptionCount }}
            label(fxFlex) {{ 'infantCount'|translate }} : {{ infantCount }}
            label(fxFlex)
              | {{ 'total'|translate }} : {{ blockForm.form.value.totalPrice }} {{ 'price.irFormated'|translate }}
div(fxLayout="row", align="end")
  button.pull-left(mat-mini-fab, color="primary", #nextButton, (click)="nextStep(stepper)", [disabled]="stepper.selectedIndex==1")
    mat-icon navigate_before
  button.pull-right(mat-mini-fab, color="primary", (click)="previousStep(stepper)", [disabled]="stepper.selectedIndex==0")
    mat-icon navigate_next
mat-dialog-actions
  button(mat-raised-button, color="primary", fxFlex, (click)="save()", [disabled]="passengerGridService.rows\&\&passengerGridService.rows.length > 0 ? false : true", #submit)
    | {{ "block.save"|translate }}
