include ../../../mixin
.modal-header(mat-dialog-title)
  .modal-title
    | {{"person.replacement"|translate}}- {{"destinationTour"|translate}}
.modal-body(dir="rtl", [style.width.px]="700", [style.height.px]="450")
  form
    mat-horizontal-stepper(#stepper, [linear]="false")
      mat-step(label="{{'steps'|translate:({value:'first'|translate})}}", [style.height.px]="450")
        div(fxLayout="row")
          mat-form-field(fxFlex)
            mat-chip-list
              mat-chip(*ngFor="let passenger of selectedPassengers")
                | {{passenger.person.name}} {{passenger.person.family}}
        div(fxLayout="row")
          mat-form-field.example-full-width(fxFlex)
            input(matInput="search-local", placeholder="{{'destinationTourFilter'|translate}}", #searchContent, (keyUp)="onFilterTextBoxChanged(searchContent)")
        div(fxLayout="row", [style.height.px]="200")
          ag-grid-angular.ag-theme-material(style="width:100%;height:100%;", [columnDefs]="tourGridService.columnDefs", [enableSorting]="true", [rowHeight]="35", [headerHeight]="35", [icons]="tourGridService.icons", [gridOptions]="tourGridService.gridOptions", (selectionChanged)="onSelectionChanged()", [frameworkComponents]="tourGridService.frameworkComponents", rowSelection="single", (gridReady)="onGridReady($event)", [enableRtl]="true")
            | ّ
      mat-step(label="{{'steps'|translate:({value:'second'|translate})}}")
        form([formGroup]="replacementTourResultForm.form", *ngIf="showTour", atuoTranslate)
          mat-card
            div(fxLayout="row")
              +matField(
              'agency',
              "{{'agency.name'|translate}}",
              'replacementTourResultForm.form',
              '',
              '',
              {fxFlex:"30"})
              //@TODO Add fxflex=30 to maField
              +matField(
              'basePrice',
              "{{'tour.price'|translate}}",
              'replacementTourResultForm.form',
              'price.irFormated',
              'landscape',
              {fxFlex:"30"})
              //@TODO Add fxflex=30 to maField
              +matField(
              'infantPrice',
              "{{'infantPrice'|translate}}",
              'replacementTourResultForm.form',
              'price.irFormated',
              'child_for',
              {fxFlex:"30"})
            br
            div(fxLayout="row")
              +matField(
              'foodPrice',
              "{{'foodPrice'|translate}}",
              'replacementTourResultForm.form', 'price.irFormated',
              '{{ utils.mapOptionTypeToIcon(optionType.Food) }}',
              {fxFlex:"30"})
              +matField(
              'busPrice',
              "{{'busPrice'|translate}}",
              'replacementTourResultForm.form',
              'price.irFormated',
              '{{ utils.mapOptionTypeToIcon(optionType.Bus) }}',
              {fxFlex:"30"})
              +matField(
              'roomPrice',
              "{{'roomPrice'|translate}}",
              'replacementTourResultForm.form',
              'price.irFormated',
              "{{ utils.mapOptionTypeToIcon(optionType.Room) }}",
              {fxFlex:"30"})
        form([formGroup]="replacementTeamResultForm.form", *ngIf="!showTour")
          .teamCard(formArrayName="teams")
            mat-card(*ngFor="let team of replacementTeamResultForm.form.get('teams')['controls'];let i=index")
              div(fxLayout="row", [formGroupName]="i")
                +matField('buyer', "{{'buyer.name'|translate}}", 'team','','',{fxFlex:"30"} )
                +matField(
                'basePrice',
                "{{'tour.price'|translate}}",
                'replacementTourResultForm.form',
                'price.irFormated',
                'landscape',
                {fxFlex:"30"} )
                +matField(
                'infantPrice',
                "{{'infantPrice'|translate}}",
                'replacementTourResultForm.form',
                'price.irFormated',
                'child_care',
                {fxFlex:"30"})
        br
  // width set for IE
div(fxLayout="row", align="end")
  button.pull-left(mat-mini-fab, color="primary", #nextButton, (click)="nextStep(stepper)", [disabled]="true")
    mat-icon navigate_before
  button.pull-right(mat-mini-fab, color="primary", (click)="previousStep(stepper)", [disabled]="stepper.selectedIndex==0")
    mat-icon navigate_next
mat-dialog-actions
  button(fxFlex, mat-raised-button, color="primary", (click)="updateReplacement()", #submit) {{"save"|translate}}
